
@media (min-width: 1200px) {
  /* Section Search Result Links */
  .search-panel__logo {
    padding: 0 50px;
  }
  .links-search-result {
    width: 650px;
    margin-left: 230px;
  }
  .tag:first-child {
    margin-left: 200px;
  }
}
@media (max-width: 1199px) {
  /* Section Google Search Main Page */
  .bottom-bar a {
    display: none;
  }
  /* Section Search Result Links */
  .search-panel__logo {
    padding: 0 30px;
  }
  .tag:first-child {
    margin-left: 24px;
  }
  .links-search-result {
    width: 99%;
    margin: 0 auto;
    overflow: hidden;
  }
  .resume-info {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
  }
  .blur {
    filter: blur(2px);
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
  flex-shrink: 0;
  margin: 0;
  padding: 0;
  -ms-overflow-style: none; /* IE и Edge */
  scrollbar-width: none; /* Firefox */
}
::-webkit-scrollbar {
  display: none;
}
.flex {
  display: flex;
}
.column {
  flex-direction: column;
}
.row-center {
  flex-direction: row;
  align-items: center;
}
.center {
  align-items: center;
  justify-content: center;
}

section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  font-size: 14px;
  font-family: arial, sans-serif;
}
a {
  color: #202124;
  display: block;
  text-decoration: none;
  font-size: 13px;
}
a:hover {
  text-decoration: underline;
}
button {
  border: 1px solid transparent;
  letter-spacing: 0.25px;
  font-size: 14px;
  line-height: 16px;
  min-width: 96px;
  height: 36px;
  padding: 9px 23px;
  margin: 6px 8px 0px 10px;
  border-radius: 4px;
  cursor: pointer;
}
.visible {
  animation: visible 1s;
}
@keyframes visible {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.hidden {
  display: none;
}
.header {
  height: 60px;
  padding: 6px;
}
.header__menu {
  justify-content: flex-end;
  padding: 0 4px;
}
.menu__items {
  padding-right: 15px;
}
.menu__items div {
  display: inline-block;
  padding-left: 12px;
}
.menu__buttons {
  justify-content: left;
}
.menu__buttons div:first-child {
  margin: 3px;
  height: 40px;
  width: 40px;
}
.menu__buttons a {
  margin: 5px;
}
.menu__buttons .apps {
  height: 15px;
  margin: 8px;
  opacity: 0.7;
}
.menu__buttons div:first-child:hover {
  border-radius: 50%;
  background: #f0f0f2;
  cursor: pointer;
}
.sign {
  background: #1a73e8;
  color: #fff;
  border: 1px solid transparent;
}
.sign:hover {
  background: #1b66c9;
  box-shadow: 0 1px 3px 1px rgba(66, 64, 67, 0.15),
    0 1px 2px 0 rgba(60, 64, 67, 0.3);
}
.logo-panel {
  flex-grow: 1;
  justify-content: space-between;
  max-height: 290px;
}
.search-panel {
  max-height: 160px;
  padding: 20px;
}
.search-bar {
  flex: 1;
  justify-content: space-between;
  border-radius: 30px;
  border: 1px solid #dcdcdc;
  max-width: 588px;
  height: 48px;
  padding: 5px 8px 0 14px;
  margin: 20px auto;
  overflow: hidden;
}
.search-bar:hover {
  box-shadow: 0px 0px 5px 1px #dcdcdc;
}
.search-bar:focus-within {
  box-shadow: 0px 0px 5px 1px #dcdcdc;
  outline: none;
}
.search-input {
  height: 27px;
  border: none;
  flex-wrap: wrap;
  margin-bottom: 7px;
  font-size: 16px;
  outline: none;
  width: 100%;
  color: rgba(0, 0, 0, 0.87);
}
.search-icon {
  padding: 0px 8px;
  height: 20px;
}
.search-icon__svg {
  opacity: 0.5;
}
.search-panel__buttons {
  flex-wrap: wrap;
  padding: 12px;
}

.search-panel__button {
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  color: #3c4043;
  margin: 11px 6px;
  padding: 0 16px;
  min-width: 54px;
}
.search-panel__button:hover {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  border: 1px solid #dadce0;
  color: #202124;
}
.search-panel__button:focus {
  border: 1px solid #4885ed;
}
.bottom-space {
  flex-grow: 1;
}
.bottom-bar {
  padding: 0 20px;
  border-bottom: 1px solid #dadce0;
  background-color: #efefef;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
}
.bottom-bar a {
  color: #70757a;
  font-size: 14px;
  padding: 15px;
}
.bottom-links {
  justify-content: flex-start;
}
.bottom-links:last-child {
  justify-content: flex-end;
  order: 3;
}
.bottom-links img {
  height: 14px;
  margin-right: 6px;
}
/* section - Links Search Results */
.search-result .search-panel {
  height: 89px;
  padding: 24px 5px 0px 0px;
}
.tags {
  gap: 6px;
  overflow-x: scroll;
  scrollbar-width: none;
  min-height: 56px;
  border-bottom: 1px solid #dadce0;
}
.tag {
  height: 40px;
  border: 1px solid #dadce0;
  border-radius: 20px;
  min-width: 38px;
  cursor: pointer;
}
.tag span {
  margin: 14px;
  width: fit-content;
  line-height: 1.58;
  color: #202124;
}
.tag:hover {
  background-color: #f1f3f4;
}
.links_wrapper {
  flex-direction: row;
  justify-content: left;
  gap: 5%;
}
.resume-info img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  padding-top: 1px;
}
.resume-info .title {
  padding: 12px 15px 12px 15px;
  font-size: 28px;
  line-height: 36px;
  font-weight: 500;
  border-bottom: 1px solid #dadce0;
}
.resume-info .description h3,
p {
  padding: 8px 15px;
}
.resume-info {
  max-width: 400px;
  height: fit-content;
  border: 1px solid #dadce0;
  border-radius: 8px;
  padding: 0 0 16px 0;
  margin-top: 76px;
  background-color: #fff;
  z-index: 300;
}
.time-result {
  color: #70757a;
  line-height: 30px;
  margin: 0 15px;
}
.prompt-result {
  font-size: 18px;
  margin: 10px 15px;
}
.prompt-result i {
  color: #1a0dab;
}
.prompt-result i:hover {
  text-decoration: underline;
  text-decoration-thickness: 1px;
}
.search-result .search-bar {
  margin: 0;
  box-shadow: 0px 2px 4px 1px #dcdcdc;
  border: none;
}
.search-result .search-bar input {
  padding-left: 6px;
}
.search-panel__logo img {
  height: 30px;
}
.logos {
  width: 1.9rem;
  border-radius: 50%;
  background-color: #f1f3f4;
  margin-right: 0.5rem;
}
.logos img {
  border-radius: 90%;
  width: 1.5rem;
}
.links-search-result .link {
  margin: 15px 20px;
  color: #4d5156;
  font-size: 15px;
}
.links-search-result h3 a {
  font-size: 20px;
  font-weight: 400;
  width: fit-content;
}
.links-search-result .link h3 a {
  line-height: 1.58;
  color: rgb(26, 115, 232);
  cursor: pointer;
}
.links-search-result .link h3 a:visited {
  color: #681da8;
}
.links-search-result .link:last-child {
  margin-bottom: 3%;
}
.tech-logo {
  border-radius: 50%;
  padding: 6px;
  margin: 4px;
  box-shadow: 1px 0 7px #978b8b;
}
.tech-logo img {
  width: 80%;
}
.tech-logo:hover::after {
  content: attr(data-title);
  text-align: center;
  padding: 0.1rem;
  border: 0.1rem solid #978b8b;
  color: #3c4043;
  background: #dcdcdc;
  position: absolute;
  z-index: 500;
}
